<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764960818795-8vgjd2apoc0vrvtnfvg5uqfjc0dsnjso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764960818795-8vgjd2apoc0vrvtnfvg5uqfjc0dsnjso</string>
	<key>API_KEY</key>
	<string>AIzaSyDF0EGcMT1xoclBez8R7ubALxJx4C2Q3Mg</string>
	<key>GCM_SENDER_ID</key>
	<string>764960818795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bo.com.flow.SinExcusasMobile</string>
	<key>PROJECT_ID</key>
	<string>sin-excusas-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>sin-excusas-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764960818795:ios:8d5afc67c4e1811369132e</string>
</dict>
</plist>